.contacto {
    background-color: $lightGrayishBlue;
    text-align: center;

    &__grid {
        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 0.9375rem;

        @include breakpoint-up(medium){
            flex: 0 0 50%;
        }

        @include breakpoint-up(large){
            flex: 1;
        }
    }
    
    &__description {
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;

        @include breakpoint-up(large){
                text-align: center;
                font-size: 2rem;
        }
    }

    &__icon {
        text-align: center;
        margin-bottom: 1.875rem;

        @include breakpoint-up(large){
            margin-bottom: 2.75rem;
        }
    }
}