.hero {
    &__image {
        img {
            width: 100%;
            height: auto;
        }
    }

    &__text {
        text-align: center;

        @include breakpoint-up(large){
            flex: 2;
            order: 1;
            text-align: left;
        }
    }
}
